.header-juego {
    
   background-image:linear-gradient(to bottom, #b1b9eb,#808cd3, #3c53d8);
    padding: 0 10%; 
    height: 55px;
    display: flex;
    align-items: center;
    top: 0;
}

.nav-principal {
    
    display: flex;
    align-items: center;
    height: 100%; 
}

.parte-perfil {
   
    margin-left: auto; 
    display: flex;
    align-items: center;
    height: 100%;
}

.flechas {
    
    color: #c7d5e0; 
    text-decoration: none;
    font-size: 16px; 
    padding: 0 5px; 
    height: 100%;
    display: flex; 
    align-items: center;
    transition: color 0.2s;
}

.flechas:hover {
    color: white; 
}

.link {
    color: #c7d5e0; 
    text-decoration: none;
    font-size: 14px;
    font-weight: bold; 
    padding: 0 10px; 
    height: 100%;

    display: flex; 
    align-items: center;
    transition: color 0.2s;
}

.link:hover {
    color: white; 
}

/*-----------fin del header----------*/


body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, rgb(17, 26, 44), #124f, rgb(20, 52, 116));
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(39, 69, 235); /* Unificando el color de fondo */
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    /* header fijo para que no se mueva con el scroll */
    position: sticky; 
    top: 0;
    z-index: 100;
}

.separacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.menu {
    width: 20vh;
    background-color: rgb(15, 30, 80); /* Fondo oscuro fijo */
    padding: 20px 10px;
    height: 100vh;
    color: white;
    position: fixed;
    top: 50px;
   
}

.menu input {
    width: 100%;
    position: relative;
    top: 10px;
    box-sizing: border-box; /* Incluye padding en el ancho */
    
}

.menu h1 {
    font-size: 20px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu .lista {
    padding: 0;
    margin-top: 20px;
}

.menu .lista li {
    padding: 5px 0;
    font-size: 14px;
}



.caja-centro {
    margin-left: 220px; 
    padding: 80px 20px 20px 20px;
}

.juegos {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0; 

   
}

.juegos div {
    /* Tamaño fijo para las carátulas */
    width: 30vh;
    height: 60vh;
    border-radius: 5px;
    overflow: hidden;
}

.juegos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; /* No queremos border-radius aquí, solo en la carátula */
   
}

.juegos div:hover {
    transform: translateY(-6px);
    transition: all 0.3s    ease-in-out;
}
