
.header-juego { 
    background-image:linear-gradient(to bottom, #b1b9eb,#808cd3, #3c53d8);
    padding: 0 10%; 
    height: 60px;
    display: flex;
    align-items: center;
    
   
}

.nav-principal {
    
    display: flex;
    align-items: center;
    height: 100%; 
}

.parte-perfil {
   
    margin-left: auto; 
    display: flex;
    align-items: center;
    height: 100%;
}

.flechas {
    
    color: #c7d5e0; 
    text-decoration: none;
    font-size: 16px; 
    padding: 0 5px; 
    height: 100%;
    display: flex; 
    align-items: center;
    transition: color 0.2s;
}

.flechas:hover {
    color: white; 
}

.link {
    color: #c7d5e0; 
    text-decoration: none;
    font-size: 14px;
    font-weight: bold; 
    padding: 0 10px; 
    height: 100%;

    display: flex; 
    align-items: center;
    transition: color 0.2s;
}

.link:hover {
    color: white; 
}

/*----------FIN DEL HEADER-------*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #0e1853, #18287a, #182c9c); 
    color: #c7d5e0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}


.contenido-principal {
    flex-grow: 1; 
    width: 80%;
    margin: 0 auto;
    padding: 20px 0; 
}


.perfil-cabecera {
    background: linear-gradient(to right, #112796, #1d1179);
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.avatar {
    height: 100px; 
    width: 100px;
    border-radius: 2px;
    margin-right: 15px;
}

.info-usuario h1 {
    margin: 0;
    font-size: 24px;
    color: white;
}

.info-usuario .nivel {
    margin: 5px 0 10px 0;
    font-size: 14px;
    color: #a4b4f0;
}

.boton-perfil {
    display: inline-block;
    background-color: #141349;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 13px;
    transition: background-color 0.3s;
}

.boton-perfil:hover {
    background-color: #6275e0;
}


.seccion-actividad{
    background: #0b1750;
    padding: 20px;
    border-radius: 20px;
}
.juego-reciente-item {
    display: flex; /*  la imagen y el texto  se posicionan  lado a lado */
    align-items: center; 
    gap: 30px;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.2s;
    max-width: 80%;
}

.juego-reciente-item:hover {
    background-color: rgba(31, 43, 146, 0.596); 
}

.imagen-ilustrativa {
    width: 200px; 
    height: 100px;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}



.info-actividad-reciente h3 {
    color: white;
    font-size: 16px;
    margin: 0 0 3px 0;
}

.info-actividad-reciente p {
    color: #c7d5e0;
    font-size: 12px;
    margin: 2px 0;
}

.logros {
    color: #a4b4f0; /* Color específico para logros */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
}





/*--------FOOTER--------*/
 .pasteam-footer {
    background-color: #06153b;
    color: #c7d5e0; 
    padding: 30px 10%; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    width: 100%;
   
}



.footer-content {
    display: flex;
    justify-content: space-between;

}

.footer-info {
    max-width: 60%; 
}

.footer-logo {
  margin-right: 50vh;
    height: 5vh;
    width: 5vh;
    filter: brightness(0) invert(1); 
    
}

.footer-info p {
    color: #80a4f1; 
    font-size: 12px;
    margin: 10px 0;
    line-height: 1.5;
    max-width: none; 
    text-align: left; 
}

.footer-links-principal a {
    color: #c7d5e0;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.2s;
}


.footer-links-principal a:hover {
    color: #4c7ec9; 
}


.footer-hr {
    border: none;
    border-top: 1px solid #5d6474; 
  
}

.footer-nav {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-nav a {
    color: #c7d5e0;
    text-decoration: none;
    font-size: 13px;
    transition: color 0.2s;
}

.footer-nav a:hover {
    color: #66c0f4;
}

