
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, rgb(17, 26, 44), #124f, rgb(20, 52, 116));
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(14, 18, 36);
    padding: 10px 20px;
    color: white;
}

.separacion {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu {
    width: 200px;
    background-image: linear-gradient(to bottom, rgb(17, 26, 44), #124f, rgb(20, 52, 116));
    padding: 20px;
    height: 100vh;
    color: white;
    position: fixed;
    box-sizing: border-box;
}

.menu input {
    width: 100%;
    
   
}

.menu h1 {
    font-size: 15px;
    
}

img {
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

.caja-centro {
    margin-left: 220px; 
    padding: 80px 20px 20px 20px;
}

.juegos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
   
}

.juegos div {
    width: 30vh;
    height: 60vh;
    
   
}

.juegos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.juegos :hover{
    transform: translateY(-6px);
    transition:0.3s ease, transform 0.3s ease;
      transition: all 0.2s ease-in-out; 
}


body{
    margin: 0%;
    padding: 0%;
    background-color: blue;
}

header{
    margin-top: 0%;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-size: px;
    background-color: rgb(39, 69, 235);
    display: flex;
}

.separacion{
    margin-right: 40px;
    flex-direction: row;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    gap: 20px;

}



.subseparacion {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
   
}
.menu{
    width: 200px;
    background-color: rgb(15, 30, 80);
    padding: 10px;
    height: 100vh;

}
input{
    position: relative;
    top:10px
  
}

h1{
    font-size: 20px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    height: 40px;
    border-radius: 10vh;
    width: 40px;
}
.juegos{
    flex: 1;
    display: grid;
    grid-template-columns:
    repeat(autofill, minmax(220px,1fr));
    gap: 15px;
    padding: 20px;
    overflow: auto;
}
.juegos:hover{
    transform: scale(1,05);
}
.juego img{
    width: 100%;
    border-radius: 5px;
}
.juego p{
    margin-top: 8px;
    color: #c7d5e0;
}

