
body {
    margin: 0;
    padding: 0;
    background-image:linear-gradient(to bottom, #0e1853,#18287a, #182c9c);
    color: #c7d5e0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* --- Header Original Restaurado --- */
header {
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-size: 16px; /* Corregido de "px" a un valor válido */
    background-image:linear-gradient(to bottom, #b1b9eb,#808cd3, #3c53d8);
    display: flex;
    padding: 5px 20px; /* Un poco de padding para que no se pegue a los bordes */
}

.separacion {
    margin-right: 40px;
    flex-direction: row;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.subseparacion{
    background-color: #1c2446;

}
button{
    background-image:linear-gradient(to bottom, #0e1853,#18287a, #182c9c);
    border-radius: 1vh
}
p{
    color: white;
}
header img {
    height: 40px;
    width: 40px;
    border-radius: 10vh; /* Estilo del logo original */
}
/* --- Fin del Header --- */

.container-principal {
    display: flex;
}

.menu {
    width: 240px;
    background-color: #0d1c2b;
    padding: 15px;
    height: calc(100vh - 54px); /* Ajustado a la altura del nuevo header */
    box-sizing: border-box;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    background-color: #314051;
    border: none;
    border-radius: 3px;
    color: #fff;
    box-sizing: border-box;
}

h1 {
    font-size: 16px;
    color: aliceblue;
    margin-top: 0;
}

h2 {
    font-size: 24px;
    color: #fff;
    margin-top: 0;
    font-weight: 300;
}

.lista-juegos {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista-juegos li a {
    display: block;
    padding: 8px 10px;
    color: #c7d5e0;
    text-decoration: none;
    border-radius: 3px;
    font-size: 14px;
}

.lista-juegos li a:hover {
    background-color: #314051;
    color: #fff;
}

.contenido-principal {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    height: calc(100vh - 54px); /* Ajustado a la altura del nuevo header */
    box-sizing: border-box;
}

.columna-imagen img{
    height: 60vh;
    padding-left: 3vh;
    margin-top: 3vh;
  
}
.juegos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 90px;
}



.juego:hover {
    transform: scale(1.05);
}

.juego img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0; /* Reseteamos el border-radius para las imágenes de los juegos */
}

.juego p {
    margin: 0;
    padding: 15px;
    font-size: 16px;
    color: #c7d5e0;
    text-align: left;
}

body{
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(to bottom, rgb(17, 26, 44), #124f, rgb(20, 52, 116));
}

header{
    margin-top: 0%;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: black;
    font-size: 15px;
    background-color: rgb(39, 69, 235);
    display: flex;

}

.separacion{
    margin-right: 40px;
    flex-direction: row;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.subseparacion {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgb(34, 81, 209);
    align-items: center;
    text-align: center;
}
.icono-boton {
   
    background: none;    
    border: none;            
    padding: 0;           
    color: white;            
    
    display: inline-block;  
    margin-right: 40px;      /* Mantiene el mismo espaciado que los otros <p> */
}




p{
    display: inline-block;
    margin-right: 40px;
    color: white;
}



