.header-juego {
    
   background-image:linear-gradient(to bottom, #b1b9eb,#808cd3, #3c53d8);
    padding: 0 10%; 
    height: 55px;
    display: flex;
    align-items: center;
    top: 0;
}

.nav-principal {
    
    display: flex;
    align-items: center;
    height: 100%; 
}

.parte-perfil {
   
    margin-left: auto; 
    display: flex;
    align-items: center;
    height: 100%;
}

.flechas {
    
    color: #c7d5e0; 
    text-decoration: none;
    font-size: 16px; 
    padding: 0 5px; 
    height: 100%;
    display: flex; 
    align-items: center;
    transition: color 0.2s;
}

.flechas:hover {
    color: white; 
}

.link {
    color: #c7d5e0; 
    text-decoration: none;
    font-size: 14px;
    font-weight: bold; 
    padding: 0 10px; 
    height: 100%;

    display: flex; 
    align-items: center;
    transition: color 0.2s;
}

.link:hover {
    color: white; 
}








body {
    margin: 0;
    padding: 0;
    background-image:linear-gradient(to bottom, #0e1853,#18287a, #182c9c);
    color: #c7d5e0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
}



.separacion {
    margin-right: 40px;
    flex-direction: row;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.subseparacion{
    background-color: transparent;
    display: flex;
    justify-content: center;
    gap: 10px;
   
    padding: 15px 0;
    margin-top: 10px;

}

.nav{
     background-color: #0f1744; 
    border: none;
    color: white;
    padding: 10px 18px;
    border-radius: 1vh;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
     transition:0.3s ease, transform 0.3s ease;
      transition: all 0.2s ease-in-out; 
}

.nav:hover{
      background-image:linear-gradient(to bottom, #b1b9eb,#808cd3, #3c53d8);
    transform: translateY(-3px);
     
}






.contenido-principal {
   
    width: 100%;
    padding: 0;
    
}

.columna-imagen img{
    height: 60vh;
    padding-left: 3vh;
    margin-top: 3vh;
    border-radius: 2vh;
  overflow: hidden;
}


.subseparacion {
    margin-top: 10px;
    background-color: none;
    text-align: center;
     
}


p{
    display: inline-block;
    text-align:start;
    color: white;
}

.oferta-contenedor {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    gap: 15px;
}
.etiqueta-oferta {
    color: #2ecc71; 
    font-weight: bold;
}
.precio{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.boton-compra {
    background-color: #32ac36; 
    border: none;
    color: white;
    padding: 10px 18px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
     transition:0.3s ease, transform 0.3s ease;
      transition: all 0.2s ease-in-out; 
}

.boton-compra:hover {
    
      background: #7fdd8c;
    transform: translateY(-3px);
     
}









 .pasteam-footer {
    background-color: #06153b;
    color: #c7d5e0; 
    padding: 30px 10%; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
   
}



.footer-content {
    display: flex;
    justify-content: space-between;

}

.footer-info {
    max-width: 60%; 
}

.footer-logo {
  margin-right: 80vh;
    height: 5vh;
    width: 5vh;
    filter: brightness(0) invert(1); 
    
}

.footer-info p {
    color: #80a4f1; 
    font-size: 12px;
    margin: 10px 0;
    line-height: 1.5;
    max-width: none; 
    text-align: left; 
}

.footer-links-principal a {
    color: #c7d5e0;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.2s;
}


.footer-links-principal a:hover {
    color: #4c7ec9; 
}


.footer-hr {
    border: none;
    border-top: 1px solid #5d6474; 
  
}

.footer-nav {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-nav a {
    color: #c7d5e0;
    text-decoration: none;
    font-size: 13px;
    transition: color 0.2s;
}

.footer-nav a:hover {
    color: #66c0f4;
}

