
body {
    font-family: sans-serif; /*esta fuente me gusto por eso la deje */
    margin: 0;   
    padding: 0;
    background-image:linear-gradient(to bottom, #0e1853,#18287a, #182c9c);
    background-size: cover;
    line-height: 1.6;  /*espaciado entre textos */
    scroll-behavior: smooth; /*mueve ligeramente los botones para cuando los toques */
    overflow: scroll;
    
  }
  


  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 10;
    background-image:linear-gradient(to bottom, #b1b9eb,#808cd3, #3c53d8);
    
  }
  
  .logo img {
    height: 45px;
    border-radius: 50px;
    filter: brightness(0) invert(1);  /* invierte los colores de la imagen. (ejemplo: blanco y negro) */
  }
  
  
  
  .contenido-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0 1rem;
    z-index: 1;
    position: relative;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: white;
  }
  
  h2 {
    
    font-size: 132px;
    font-weight: 1000;
    color: #dddddd;
    margin-bottom: 1.5rem;
    font-family:sans-serif;
    
  }
  
  p {
    font-size: 1.1rem;
    color: #e0e0e0;
    max-width: 700px;
    margin: 0 auto 2.5rem auto;
    line-height: 1.8;
   
  }
  
  .botones {
   
    display: flex;
    justify-content: center;
    gap: 60px; 

}
  .boton {
    
    display: inline-block;
    width: 140px;
    padding: 1rem 1.6rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 13px;
    text-decoration: none;
    color: white;
    background-image:linear-gradient(to bottom, #b1b9eb,#808cd3, #3c53d8);
    transition:0.3s ease, transform 0.3s ease;
      
   
    
  }

  
  .boton:hover {
    background: #7d92ec;
    transform: translateY(-5px);
  }
  
  
  

.slogan{
  font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5;
    margin-bottom: 20px;
}
.info-jugadores {
    display: flex;
    gap: 30px; 
    margin-bottom: 20px;
    justify-content: center;
}

.en-linea, .jugando {
     font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    
}

.en-linea {
    color: #007cf0; 
    justify-content: center;

}


.jugando {
    color: #19c722; 
    justify-content: center;
}

.footer-bottom {
   align-items: center;
    display: flex;
   padding: 20px 0;
    margin-top: 20px;
}

.footer-bottom p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:  2vh;
  text-align: center;
  margin-right: 20px;
  margin-top: 40px;
  margin-left: 36px;
  justify-content: space-between;
  
}

.iconos {
    display: flex;
    gap: 5px; 
     align-items: center;
}

.iconos img {
  margin-right: 18px;
    height: 25px;
    filter: brightness(0) invert(1);
}



.seccion-info {
 
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10%;
    gap: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    background-image:linear-gradient(to bottom,#18287a ,#18287a, #0e1853);
    box-shadow: 0 4px 8px rgba(248, 240, 240, 0.2);
    position: relative; 
 
     
    align-items: center; 
    text-align: center;
}

.seccion-info h2 {
    
    z-index: 10; 
    font-size: 3.5rem;
}
.seccion-info p {
   
    z-index: 10; 
    max-width: 800px;

}


.seccion2{
  text-align: center;
  display: flex;
   justify-content: center;
  flex-direction: column;
   padding: 0 10%;
    gap: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    background-image:linear-gradient(to bottom,#18287a ,#18287a, #0e1853);
    box-shadow: 0 4px 8px rgba(248, 240, 240, 0.651);

} 

.comunidad-icono{
 gap: 20px;
 justify-content: center;
 
 filter: brightness(0) invert(1);
}
.comunidad-icono img{
  height: 39vh;
}

.seccion2 h2 {
     color: white;
    font-size: 3.5em;
    margin-top: 0; 
    text-align: center;
    
    
}

.seccion2 p {
    color: white;
    font-size: 1.2em;
    line-height: 1.6;
     justify-content: center;
    text-align: center;
}

.seccion3 {
    text-align: center;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    padding: 0 10%;
    gap: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    background-image:linear-gradient(to bottom,#18287a ,#18287a, #0e1853);
    box-shadow: 0 4px 8px rgba(248, 240, 240, 0.651);
    align-items: center; 
}
.seccion3 h2 {
     color: white;
    font-size: 3.5em;
    margin-top: 0; 
    text-align: center;
    
    
}

.seccion3 p {
    color: white;
    font-size: 1.2em;
    line-height: 1.6;
     justify-content: center;
    text-align: center;
}
.disponible-en{
    color: white;
    font-size: 1.1rem; 
    margin-right: 10px; 
    
}
.boton-instalar {
    
   
    width: 20vh;
    padding: 1rem 1.6rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-family:sans-serif;
    background-image:linear-gradient(to bottom, #455cf1,#304ffa, #0063f8);
    
    transition:0.3s ease, transform 0.3s ease;
      transition: all 0.2s ease-in-out; 
   
    
  }

  
  .boton-instalar:hover {
    background: #1f7ffd;
    transform: translateY(-6px);   /* Efecto de elevacion al pasar el cursor */

   
  }

.juegos-imagenes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    
   
}


.juego {
    position: absolute;
    width: 150px; 
    height: auto;
    border-radius: 4px;
    opacity: 0.39; 
    transition: transform 0.3s, opacity 0.1s;  /*Transicion suave al pasar el cursor*/
    
}

.juego:hover {
    opacity: 1;
    transform: scale(1.05);      /* Efecto de zoom cuando pasas el cursor encima */
    z-index: 10; 
}

.j1 { 
    top: 15%; 
    left: 5%; 
    width: 150px; 
}
.j2 { 
    top: 35%; 
    left: 18%;  
    width: 180px; 
}

.j3 { 
    top: 55%; 
    left: 8%; 
    width: 180px; 
}


.j4 { 
    top: 10%; 
    right: 10%; 
    width: 160px; 
}

.j5 { 
    top: 37%; 
    right: 19%; 
    width: 150px; 
}

.j6 { 
    top: 60%; 
    right: 7%; 
    width: 180px; 
}

.boton-tienda {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(142, 200, 247);
    transition: transform 0.3s, opacity 0.1s;
    border-radius: 4px;
    z-index: 99;  /* Q elemento se debe colocar encima de otros elementos que se superponen en el eje Z */
    
}

.boton-tienda:hover {
   opacity: 1;
    transform: scale(1.20);   /* Efecto de zoom cuando pasas el cursor encima */
   
}










/*--------------FOOTER-----------------*/
.pasteam-footer {
    background-color: #06153b;
    color: #c7d5e0; 
    padding: 30px 10%; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
   
}

.footer-content {
    display: flex;
    justify-content: space-between;

}

.footer-info {
    max-width: 60%; 
}

.footer-logo {
    height: 40px;
    filter: brightness(0) invert(1); 
    
}

.footer-info p {
    color: #80a4f1; 
    font-size: 12px;
    margin: 10px 0;
    line-height: 1.5;
    max-width: none; 
    text-align: left; 
}

.footer-links-principal a {
    color: #c7d5e0;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.2s;
}


.footer-links-principal a:hover {
    color: #a4c9ff; /* Hover azul claro */
}


.footer-hr {
    border: none;
    border-top: 1px solid #5d6474; 
  
}

.footer-nav {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-nav a {
    color: #c7d5e0;
    text-decoration: none;
    font-size: 13px;
    transition: color 0.2s;
}

.footer-nav a:hover {
     color: #2a66be;
}





